

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>



<% unless @blog.blog_photos.empty? %> 
<div class="row">
 <% @blog.blog_photos.each do |pic| %> 
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
     <%= image_tag pic.photo.url %>
    </div>
  </div>
 <% end %>
</div>
<% end %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
