<!-- Page Header -->

    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%=@blog.title%></h1>                        
                        <span class="meta">Posted by <%=@blog.user.email%> <%=time_ago_in_words(@blog.created_at)%> ago</span>
                    </div>
                    <%if current_user == @blog.user%>
                    <ul class="pager">
                        <li class="next">
                           <%= link_to 'Edit', edit_blog_path(@blog) %>
                           <%= link_to 'Share all Friends', blog_share_path(@blog) %>
                           <a data-toggle="modal"  href="#modal-form">Share by select</a>
                        </li>
                    </ul>
                    <%end%>
                </div>
                 <!-- Pager -->
                
                
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   

                     <% unless @blog.blog_photos.empty? %> 
                        <div class="row">
                         <% @blog.blog_photos.each do |photo| %> 
                          <div class="col-xs-12 col-md-12">
                            <div class="thumbnail">
                             <%= image_tag photo.photo.url %>
                            </div>
                          </div>


                         <% end %>
                        </div>
                    <% end %>


                     <p><%=@blog.description%></p>
                                  
                </div>
            </div>
        </div>
    </article>




<!-- modal box -->
 
    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Select Friends</h4>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                          <%=form_tag blog_share_select_path, :method => 'get', :remote => true, id: 'scheme_assigned_batches' do %>
                           <%= hidden_field_tag "blog_id", @blog.id %>
                           <%=select_tag "friends", options_from_collection_for_select(@friends, "id", "email"), :class => 'form-control',:prompt => "select friends",  :multiple => true, :size => 5 %>
                           <%= submit_tag "Share", :name => nil, class:  'btn btn-primary', style: 'margin-top: 21px;' %>   
                           <%end%>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- modal box -->