<!-- Page Header -->

    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%=@blog.title%></h1>                        
                        <span class="meta">Posted by <%=@blog.user.email%> <%=time_ago_in_words(@blog.created_at)%> ago</span>
                    </div>
                    <%if current_user == @blog.user%>
                    <ul class="pager">
                        <li class="next">
                           <%= link_to 'Edit', edit_blog_path(@blog) %>
                           <%= link_to 'Share', blog_share_path(@blog) %>
                        </li>
                    </ul>
                    <%end%>
                </div>
                 <!-- Pager -->
                
                
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   

                     <% unless @blog.blog_photos.empty? %> 
                        <div class="row">
                         <% @blog.blog_photos.each do |photo| %> 
                          <div class="col-xs-12 col-md-12">
                            <div class="thumbnail">
                             <%= image_tag photo.photo.url %>
                            </div>
                          </div>


                         <% end %>
                        </div>
                    <% end %>


                     <p><%=@blog.description%></p>
                                  
                </div>
            </div>
        </div>
    </article>
